$primaryColor: #62cc75;
$secondaryColor: #2e3842;

body{
  overflow-x: hidden;
}
.v-application{
  img{
    max-width: 100%;
    height:auto;
  }
  a{
    color: $primaryColor;
  }
  .v-divider.half{
    margin: 0 20%;
  }
}
.page-title{
  font-weight: 300;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  font-style: italic;
  color:$secondaryColor;
}
.headline{
  color:$primaryColor;
}
.v-content{
  font-size: 17px;
  text-align: justify;
  padding-bottom: 20px !important;
}
picture{
  display: contents;
}

.v-dialog{
  .v-card__title{
    justify-content: space-between;
  }
}

@media (min-width: 1904px){
  .container:not(.container--fluid) {
    max-width: 1185px;
  }
}

@media all and (max-width: 764px){
  .mobile-hidden{
    display: none !important;
  }
  .v-app-bar img {
    max-width: 40px;
  }
}